# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=super_secret_password
POSTGRES_DB=flashsale
POSTGRES_PORT=5432
DATABASE_URL=postgres://postgres:super_secret_password@postgres:5432/flashsale?sslmode=disable

# Kafka
KAFKA_PORT=9092
KAFKA_BROKER=kafka:29092

# Gateway
HTTP_PORT=8080
JWT_SECRET=your_super_secret_jwt_key_here

# Inventory
GRPC_PORT=50051
INVENTORY_GRPC_URL=inventory:50051